.filters-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.filters-top {
  flex: 0 0 80%;
  overflow-y: auto;
   border: 2px solid #c4bebe;
  box-shadow: 2px;
  border-radius: 10px;
}


.filters-bottom {
  flex: 0 0 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.filter-item {
  margin-bottom: 3rem;
  width: 90%;
  margin-right: 2%;
  margin-left: 2%;
}

.filter-item label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.filter-item select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}

.request {
  width: 100%;
  font-weight: bold;
}

/* Base dropdown style */
.filter-item select {
  width: 250px;   
  height: 40px;
  border: 1px solid #1182f2; /* blue border */
  border-radius: 6px;
  padding: 6px;
  outline: none; /* remove default black outline */
  color: #000; /* text color */
}

/* Keep it blue when clicked/focused */
.filter-item select:focus {
    border: 2px solid #0768c9; /* force blue */
  box-shadow: 0 0 4px rgba(22, 97, 172, 0.9); /* optional blue glow */
  outline: none;
}



